<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Simple Airbnb</a>
</nav>

<div class="container">
  <h1 class="mt-3">All our flats (<%= @flats.length %>) </h1>
  <div class="row mt-4">
    <% @flats.each do |flat| %>
    <div class="col-4 d-flex align-items-stretch mb-4">
      <div class="card shadow-sm">
          <img src="<%= flat.picture_url %>" class="card-img-top" style="height: 220px" alt="...">
          <div class="card-body pb-2">
            <h5 class="card-title"><%= flat.name %></h5>
            <p class="card-text text-muted font-weight-light"><%= flat.address %></p>
            <ul class="list-inline mb-1 d-flex justify-content-between">
              <li class="text-muted"><i class="fas fa-user-friends mr-2"></i><%= flat.number_of_guests%></li>
              <li class="font-weight-bold"><%= flat.price_per_night%><i class="fas fa-euro-sign ml-2"></i></li>
            </ul>
            <ul class="list-inline mb-1">
              <li class="list-inline-item btn btn-outline-primary btn-sm">More info</li>
              <li class="list-inline-item btn btn-outline-warning btn-sm">Edit</li>
              <li class="list-inline-item btn btn-outline-danger btn-sm">Remove</li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
